<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Equipos')"></head>

<body>
    <nav th:insert="fragments::navbar"></nav>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col">
                <h2>Lista de Equipos</h2>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-striped">
                    <caption>
                        <span th:with="convertedList=${#lists.toList(equipos)}">
                            Total equipos: <strong><span th:text="${#lists.size(convertedList)}" />
                        </span></strong>
                    </caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="equipo : ${equipos}">
                            <td>
                                <a class="btn btn-link" th:href="@{/equipos/{id}(id=${equipo.id})}">
                                    <span th:text="${equipo.nombre}"></span>
                                </a>
                            </td>
                            <td>
                                <button th:unless="${#lists.contains(usuario.equipos, equipo)}"
                                    class="btn btn-primary btn-xs" onmouseover="" style="cursor: pointer;"
                                    th:onclick="'post(\'/equipos/'  + ${equipo.id} + '/usuarios/' + ${usuario.id} + '\');'">Unirme al equipo
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace=" fragments::javascript" />

    <!-- Lanzamos una petición POST por JavaScript para ñadir un usuario a un equipo -->

    <script type="text/javascript">
        function post(url) {
            fetch(url, {
                method: 'POST'
            }).then((res) => location.reload());
        }
    </script>

</body>

</html>